
@font-face {
    font-family: "apfel";
    src: url(ApfelGrotezk-Regular.woff2);
}
* {
    padding: 0;
    margin: 0;
    cursor: url(circle_cursor.svg),  auto;
}
html, body {
    height: 100%;
}
h1 {
    font-family: "apfel";
    font-size: 10vw;
    font-weight: 100;
    letter-spacing: -0.5vw;
}
p {
    font-family: "apfel";
    font-size: 2.5vw;
    font-weight: 100;
    letter-spacing: -0.05vw;
}
a{
    text-decoration: underline;
    text-decoration-thickness: 0.2vw;
    color: rgb(39, 39, 39);
}
a:hover {
    opacity: 60%;
}
.container {
    background-color: none;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr auto;
}
.uno {
    padding-left: 3.75vw;
    text-align: left;
}
.dos {
    padding-top: 3vw;
    padding-left: 6vw;
    padding-right: 50vw;
    text-align: left;
    opacity: 0%;
}
.dos:hover {
    opacity: 100%;
}
.tres {
    padding-right: 3.75vw;
    text-align: right;
}
@media screen and (max-width: 480px) { 
    .container {
    background-color: none;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr auto;
  }
  .dos {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 80px;
    text-align: left;
    opacity: 100%;
  }
  p{
    font-family: "apfel";
    font-size: 2em;
    font-weight: 80;
    letter-spacing: -0.05vw;
}
  h1 {
    font-family: "apfel";
    font-size: 3em;
    font-weight: 550;
    letter-spacing: -0.5vw;
}
}
@media screen and (min-width: 480px) and (max-width: 1024px){ 
    .dos {
        padding-top: 40px;
        padding-left: 80px;
        padding-right: 160px;
        text-align: left;
        opacity: 100%;
      }
      h1 {
        font-family: "apfel";
        font-size: 10vw;
        font-weight: 200;
        letter-spacing: -0.5vw;
    }
    p{
        font-family: "apfel";
        font-size: 3em;
        font-weight: 150;
        letter-spacing: -0.05vw;
    }
    
}
